.blue_divider {
    background-color: #3498db;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.blue_divider span {
    color: white;
    font-size: 16px;
}

.wrap-text {
    word-wrap: break-word;
}

.checkbox-width {
    width: 21.875rem;
}